<!DOCTYPE html>
<html xmlns:th="https://localhost/8080">
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<br>
Koszyk</br>
<table>
    <thead>
    <th>name</th>
    <th>price</th>
    <th>-1</th>
    <th>quantity</th>
    <th>Delete</th>
    <th>+1</th>
    <tbody>
        <tr th:if="${cart.empty}">
            <td >Brak produktów</td>
        </tr>
        <tr th:each= "prod : ${cart}">
            <td><span th:text="${prod.product.name}"> name</span></td>
            <td><span th:text="${prod.product.price}">price</span></td>
            <td><a th:href="@{basket/minus/{id}(id=${prod.product.id})}">-1</a></td>
            <td><span th:text="${prod.quantity}">quantity</span></td>
            <td><a th:href = '@{/basket/delete/{id}(id=${prod.product.id})}'>Delete item</a></td>
            <td><a th:href="@{basket/plus/{id}(id=${prod.product.id})}">+1</a></td>
            <td><input type="number"> </td>
            <td><a th:href="@{/basket/update/{id}/{quantity}(id=${prod.product.id},quantity=${quantity})}">Nowa ilość </a></td>
        </tr>
    </tbody>
</table>
<a th:href="@{/list}">lista</a></br>
<a th:href="@{/basket/save}">Wyślij</a>
</body>
</html>