<!DOCTYPE html>
<html xmlns:th="https://localhost/8080">
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
Koszyk</br>
<table>
    <thead>
    <th>name</th>
    <th>price</th>
    <th>quantity</th>

    <tbody>

    <tr th:each= "prod : ${cart}">
        <td><span th:text="${prod.product.name}"> name</span></td>
        <td><span th:text="${prod.product.price}">price</span></td>
        <td><span th:text="${prod.quantity}">quantity</span></td>
    </tr>
    </tbody>
</table>
Suma <span th:text="${total}"></span>
</br>
<table>
    <tr th:each="add : ${adress}">
        <td><span th:text = "${add.city}"></span></td>
        <td><span th:text = "${add.street}"></span></td>
        <td><span th:text = "${add.number}"></span></td>
        <td><a th:href = "@{/basket/save/{id}(id=${add.id})}">Wyślij na ten adress</a></td>
    </tr>
</table>


<!--
mam problem z przeniesieniem wybranego adresu do metody zapisującej zamówienie. wchodzi null.
Przepisałem na osobne linki
Sam formularz wpisywania adresu i zapisanie za każdym razem od nowa do bazy nie byłoby problemem.-->

<form th:action="@{/basket/save}" th:object="${adress}" method="post">
    Miasto <input type="text" name="city"></br>
    Ulica <input type="text" name="street"></br>
    Numer<input type="text" name="number"></br>
    Dodaj<input type="submit"  value="Dodaj">



</form>

<a th:href="@{/list}">lista</a></br>
</body>
</html>